@font-face {
  font-family: "norsebold";
  src: url("norsebold-webfont.woff2") format("woff2"),
    url("norsebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  color: #000000;
  background-color: #000000;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  overflow: hidden;
}

main {
  width: 65vw;
  display: flex;
  background-color: #f3f4f6;
  margin: 0 auto;
  height: 100vh;
}

#image-div {
  width: 35vw;
  height: 100vh;
  position: relative;
}

div #odin {
  position: absolute;
  top: 150px;
  width: 100%;
  background-color: #00000073;
  display: flex;
  justify-content: center;
  align-items: center;
}

#odin_image {
  max-width: 100%;
  width: 60px;
  height: 80px;
}

#odin_text {
  font-family: "norsebold", Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: #fff;
}

#credit {
    position: absolute;
    bottom: 12px;
    font-size: 0.6rem;
    color: #fff;
    left: 85px;
}

#credit a {
    color: #fff;
}

img {
  width: 100%;
  max-width: 45vw;
  height: 100vh;
}

#form-container {
  width: 55vw;
  margin-left: 2rem;
}

#para {
  margin-top: 7rem;
  width: 75%;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

#sign-up {
  margin-bottom: 1.4rem;
}


#input {
  display: flex;
  width: max-content;
}

input {
  appearance: none;
  width: 100%;
  border: 1px solid #333;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  display: block;
  border-radius: 2px;
}

input:invalid {
  border-color: #900;
}

label {
  margin-top: 12px;
  display: block;
  font-size: 0.8rem;
}

ul li {
  list-style-type: none;
}

#line_2 {
  margin-left: 3rem;
}

button {
  padding: 6px 24px;
  border-radius: 8px;
  background-color: #596d48;
  color: #fff;
  border-style: none;
}

#para-2 {
  font-size: 0.8rem;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 10px;
  display: none;
}

/* Valid and invalid field styles */
input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}
